PORT=80
DEBUG_PORT=9229
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=example
DRIVE_DISK=local

#slack
APP_ID=example
CLIENT_ID=example
CLIENT_SECRET=example
SIGNING_SECRET=example
VERIFICATION_TOKEN=example
SOCKET_MODE_GLOBAL_TOKEN=example
